*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-overall: 100px;
    --icon-size: calc(var(--cell-overall) *.9);
}

body {
    margin: 0;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    justify-items: center;


}

.cell {
    width: var(--cell-overall);
    height: var(--cell-overall);
    border: 1px solid white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

/* top border gone */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

/* left border gone */
.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}


/* bottom border gone */
.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

/* right border gone */
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}
/* styling for X player */
.cell.x::before,
.cell.x::after {
    content: '';
    width: calc(var(--icon-size) * .10);
    height: var(--icon-size);
    background-color: black;
    position: absolute;
}

.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}

/* styling for O player */
.cell.circle::before,
.cell.circle::after {
    content: '';
    border-radius: 50%;
    position: absolute;
}

.cell.circle::before {
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: black;
}

.cell.circle::after {
    width: calc(var(--icon-size)* .8);
    height:calc(var(--icon-size)* .8);
    background-color: white;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}



